* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1 {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    font-family: Arial,sans-serif;
    margin-left: 100px;
}

.riddles {
    margin: 50px auto;
    font-family: Arial, sans-serif;
    width: 905px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-end;
}
.riddles1 {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    align-items: center;
    margin-top: 20px;
    line-height: 25px;
    font-weight: 550;
    color: #444;
    background-color: #d4a5ff;
    padding: 9px;
    border-radius: 6px;
}
.btn {
    margin-left: 85px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #42dcff;
    font-weight: 550;
    border-radius: 6px;

}
.answer {
    color: #000000;
    font-weight: 550;
    display: none;
}
.a{
    display: flex;
    justify-content: space-between;
}